Repository NatoBoram/gigachads.ts, changes with the labels that .github/labeler.yaml gives for each.
All labels: dependencies, documentation

👷 Fix test in ci
  .github/workflows/node.js.yaml
Labels: none

🙈 Link root gitignore
  apps/server/.gitignore
Labels: none

👷 Add a build step to GitHub Pages
  .github/workflows/github-pages.yaml
Labels: none

👷 Add caching for Turbo in GitHub workflows
  .github/workflows/github-pages.yaml
  .github/workflows/node.js.yaml
Labels: none

👷 Add workflow to lint Dependabot PRs
  .github/workflows/dependabot-fix.yaml
Labels: none

👷 Add "globals" in Dependabot's ESLint group
  .github/dependabot.yaml
Labels: dependencies

🔧 Sync package.json files and README.md
  .github/workflows/lint-and-fix.yaml
  apps/server/README.md
  apps/server/package.json
  package.json
  packages/client/README.md
  packages/client/package.json
  packages/config/.gitignore
  packages/config/.markdownlint-cli2.yaml
  packages/config/.markdownlint.yaml
  packages/config/README.md
  packages/config/package.json
  pnpm-lock.yaml
  turbo.json
Labels: dependencies, documentation

👷 Set Lint & Fix' job to lint
  .github/workflows/lint-and-fix.yaml
Labels: none

🔧 Remove Prettier configuration file
  apps/server/.prettierrc.yaml
Labels: none

.github/labeler.yaml:

# yaml-language-server: $schema=https://json.schemastore.org/pull-request-labeler-5.json

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - ./**/package.json
          - ./**/pnpm-lock.yaml
          - .github/dependabot.yaml
          - .syncpackrc.yaml

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - ./**/*.md
# I'd rather wait for that label to exist
#github_actions:
#  - changed-files:
#      - any-glob-to-any-file:
#          - .github/**
